<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ninja}}</title>
  </head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'ninjas/css/style.css' %}">
  <body>
    {{ninja}}
    {% if ninja == 'none'%}
      <div class="none">
        <h3></h3>
        <img src="ninjas/images/notapril.jpg" alt="April" />
      </div>
    {% endif %}
    {% if ninja == 'all'%}
      <div class="none">
        <h3></h3>
        <img src="ninjas/images/leonardo.jpg" alt="leonardo" />
        <img src="ninjas/images/michelangelo.jpg" alt="michelangelo" />
        <img src="ninjas/images/raphael.jpg" alt="raphael" />
        <img src="ninjas/images/donatello.jpg" alt="donatello" />

      </div>
    {% endif %}
    {% if ninja == 'blue' %}
      <div class="none">
        <h3>blue</h3>

        <img src="{% static 'ninjas/images/leonardo.jpg' %}" alt="April" />
      </div>
    {% endif %}
    {% if ninja == 'orange'%}
      <div class="none">
        <h3></h3>
        <img src="/static/images/michelangelo.jpg" alt="April" />
      </div>
    {% endif %}
    {% if ninja == 'red'%}
      <div class="none">
        <h3></h3>
        <img src="{% static 'ninjas/images/raphael.jpg' %}" alt="April" />
      </div>
    {% endif %}
    {% if ninja == 'purple'%}
      <div class="none">
        <h3></h3>
        <img src="/static/images/donatello.jpg" alt="April" />
      </div>
    {% endif %}
  </body>
</html>
