<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="wrapper">
      <form action="{% url 'process_form' %}" method="post">
        {% csrf_token %}
        <p><label for="name">Your Name:</label><input type="text" name="name"></p>
        <p><label for="location">Dojo Location:</label>
          <select name="location">
            <option value='Mountain View'>Mountain View</option>
            <option value='Seattle'>Seattle</option>
          </select></p
        <p><label for="language">Favorite Language:</label>
          <select name="language">
            <option value='PHP'>PHP</option>
            <option value='Python'>Python</option>
          </select></p
        <p><label for="comment">Comment</label><textarea name="comment"></textarea></p>
        <p><input class='btn' type="submit" value="Submit "></p>

      </form>
      <p>
        <a href="{% url 'reset_count' %}"><button >Reset</button></a>
      </p>
    </div>
  </body>
</html>
